* {
    margin: 0;
    padding: 0;
}
header {
     background-color: #31006D;
     padding-top: 20px;
     padding-bottom: 20px;
}
#logo {
    width: 150px;
}
nav a {
    color: white;
    text-decoration: none;
    padding: 15px;
}
nav {
    float: right;
}
.container {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}
nav a:first-child {
    color: #E9008B;
}

#intro {
    background-color: #31006D;
    background-image: url(banner-pattern.png);
    background-repeat: no-repeat;
    background-position: center right;
    background-size: 45% auto;
}

h1 {
    color: white;
}

#whitebox {
    background: white;
    width: 50%;
    padding: 32px;
    margin: 40px;
}

#whitebox small {
    color: #7f7f7f;
}

#whitebox p {
    color: #EB008C;
}

Section {
    padding-top: 100px;
    padding-bottom: 100px;
}
.w50 {
    width: 45%;
}

.w50 a {
    text-decoration: none;
}
#about p {
    margin-bottom: 20px;
}

#about {
    background-image: url(building.png);
    background-repeat: no-repeat;
    background-position: center right;
}

#parallax {
    background-image: url(parallax-home.jpg);
    height: 400px;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}